fastapi
uvicorn
sqlalchemy
opencv-python
mediapipe==0.10.14
deepface
tensorflow
tf-keras
pydantic
pydantic-settings
python-multipart
requests
pandas
websockets
torch
torchvision
torchaudio
numpy
gdown